body{
    margin: 0;
}
#navbar{
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #4A485A;
    width: 100%;
    height: 6vh;
    min-height: 40px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: end;
    color: #FFFFFF ;
    text-decoration: none;
}
 
.links{
   padding-right: 15px;
   
}
a{
    text-decoration: none;
    color: inherit;
}
#game{
    display: flex;    
    flex-direction: column;
    width: min-content;
}
.row{
    display: flex;
}
.space{
    background-color: black;
    height: 10px;
    width: 10px;

}

#player{
    background-color: green;
}
#food{
    background-color:red ;
}
#play-btn{
    text-align: center;
    height:20px;
    width:60px;
}
#restart{
    text-align:center;
    height:20px;
    width:60px; 
}